<section class="vh-100" style="background-color: rgb(124, 207, 225)">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Welcome
                </p>

                <form class="mx-1 mx-md-4" [formGroup]="userForm">
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="userName"
                        class="form-control"
                        placeholder="Enter User Name"
                        [formControlName]="userNameFormControl"
                      />
                      <div
                        *ngIf="
                          userForm.controls['userNameFormControl'].invalid &&
                          (userForm.controls['userNameFormControl'].dirty ||
                            userForm.controls['userNameFormControl'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <div
                          *ngIf="
                            userForm.controls['userNameFormControl'].invalid
                          "
                        >
                          Please Enter valid User Name
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="chatRoom"
                        class="form-control"
                        placeholder="Enter Chat Room"
                        [formControlName]="chatRoomFormControl"
                      />
                      <div
                        *ngIf="
                          userForm.controls['chatRoomFormControl'].invalid &&
                          (userForm.controls['chatRoomFormControl'].dirty ||
                            userForm.controls['chatRoomFormControl'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <div
                          *ngIf="
                            userForm.controls['chatRoomFormControl'].invalid
                          "
                        >
                          Please Enter valid Chat Room
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="button"
                      class="btn btn-info btn-lg"
                      (click)="onJoin()"
                    >
                      JOIN TO CHAT ROOM
                    </button>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="button"
                      class="btn btn-outline-info btn-lg"
                      (click)="onRegister()"
                    >
                      Register
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
